body {
    font-family: 'Helvetica, Times New Roman', sans-serif;
    margin: 12;
    padding: 12;
    font-size: 15px;
}

header {
    background-color: #ff6dce;
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

section {
    background-color: #993405;
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

.project {
    margin-bottom: 40px;
}

project1 {
    background-color: red;
}

project2 {
    background-color: purple;
}

project3 {
    background-color: orange;
}

.project img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #6f9dd2;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: .75em;
}
